.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    background-color:rgb(222, 67, 67);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #000000;
  }
  
  .button:hover {background-color: #fffcfc}
  
  .button:active {
    background-color: rgb(252, 252, 252);
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
  }

.cardapio{
    padding-left: 60px;
}
.divLogo{
    text-align:center;
    right: 30%;
}

.container{
    margin: 0 auto;
    display:inline-flex;
    align-items:center;
    max-width: 1500px;
}
.logo{
    width: 15%;
    
}
footer{
    background-color: rgb(144, 144, 250);
    color:#000000;
    text-align:center;
    position:relative;
    bottom: 0%;
    width: 100%;
    padding: 10px;
    
}

.caixa{
    margin-left: 100px;
    padding: 15px;
    font-family:fantasy;
    color:#ffffff;
    border-color: #000000;
    border-style: solid;
}

body{
    background-color:rgb(73, 19, 19);
    
}
footer {
    background-color: #920000;
    text-align:center;
    padding: 0px;
}